{% extends "base.html" %}

{% block title %}
    Adding Product
{% endblock %}

{% block content %}
    <div class="container-fluid bg-white mt-5 border-top border-bottom shadow">
        <div class="container">

            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.question(class="form-control mt-4", placeholder=form.question.label.text) }}
                {{ form.img(class="form-control mt-4", placeholder=form.img.label.text, accept=".jpg,.png,.jpeg") }}

                {{ form.submit(class="btn btn-warning my-4") }}
            </form>
        </div>
    </div>
{% endblock %}