{% extends "base.html" %}

{% block content %}
   <style>
        img {
    float: left;
    width:  200px;
    height: 400px;
    object-fit: cover;
}
   </style>
     <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>ჰიდრა</h1>
          <p>ჰიდრა—საზარელი ურჩხული, ლერნეს ჭაობის ბინადარი, ტიფონისა და ექიდნეს ნაშიერი; ჰერას გამოზრდილი. ცხრა, ას- ან ათასთავიანი და ისეთი გესლიანი, რომ მისი ღვიძლის სისხლით მოწამლული ისრებით უკვდავნიც კი მოურჩენელი წყლულით იტანჯებოდნენ.</p>
      <h2>მითი</h2>
          <p>ლერნეს ჭაობის ჰიდრას ჰერაკლე შეება (მეორე გმირობა). შესახტომად გამზადებულ ქვეწარმავალს ფეხი დააჭირა. გველი შემოეტმასნა (თანაც ჭაობიდან ბუმბერაზი კიბორჩხალა ამობობღდა და გმირს ჩაეჭიდა) ჰერაკლე ჰიდრას კომბლის დარტყმებით ზედიზედ აცლიდა თავებს. მაგრამ გველს ერთ მოსხეპილ თავზე ორი ამოსდიოდა. მაშინ გმირმა მეგობარ იოლაოსს უხმო, ცეცხლის დანთება უბრძანა. იოლაოსმა ჭალას ცეცხლი წაუკიდა. მოგიზგიზე მაშხალებს აწვდიდა ჰერაკლეს, გმირი კი მოსხეპილ ადგილს მაშხალით სწვავდა. ბოლოს უკანასკნელ უკვდავ თავს კლდე დააფარა და ბრძოლა დასრულდა. ეს ჰიდრა უდიდესი იყო, თუმცა, ჰიდრა სხვაც მრავალია.</p>
      </div>
      <div class="col-md-2.5">
        <div class="card">
            <img src="/static/hydra2.jpg">
        </div>
      </div>
    </div>
  </div>
{% endblock %}