{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
    <div class="row">
    <div class="col-md-8">
      <h1>მოგესალმებით!</h1>
      <p>ეს არის საიტი მათთვის, ვისაც უნდა რომ ბერძნული მითოლოგიის შესახებ მეტი რამ გაიგოს.</p>
        <p>სლოგანი:"წაიკითხე, ჩაეკითხე და ისწავლე ბერძნული მითოლოგია"</p>
        <p>(საიტს სხვა ინფორმაცია მომავალში დაემატება)</p>
    </div>
        <div class="col-md-4">
            <div class="card">
                <img src="/static/mythology.png">
            </div>
        </div>
    </div>
    </div>
        <footer><a href="https://tbceducation.ge"> <img src="/static/tbc-logo.png" width=10% id="tbc"> </a></footer>
{% endblock %}