{% extends "base.html" %}

{% block title %}
    Adding Product
{% endblock %}

{% block content %}
    <div class="container-fluid bg-white mt-5 border-top border-bottom shadow text-info">
        <div class="container">

            {% if form.errors %}
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <form method="post">
                {{ form.hidden_tag() }}

                {{ form.username.label }}
                {{ form.username(class="form-control") }}

                {{ form.password.label }}
                {{ form.password(class="form-control") }}

                {{ form.submit(class="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
{% endblock %}