{% extends "base.html" %}

{% block content %}
   <style>
        img {
    float: left;
    width:  200px;
    height: 400px;
    object-fit: cover;
}
   </style>
     <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>მედუზა</h1>
          <p>მედუზა, მედუსა—გორგონა, რომელსაც თავზე გველები ეხვევა, მოკლა პერსევსმა. მისი სახე ათენას ფარზეა. მნახველს აქვავებს. შუმერული შესატყვისი — ხუბაბა (ხუვავა). ვანის გათხრებში 1979 წელს აღმოაჩინეს მედუზას თავი (გორგონა), ოდნავ დაზიანებული, მაგრამ დიდი ხელოვნებით გამოკვეთილი (ძვ. წ. II-I საუკუნეები)</p>
      </div>
      <div class="col-md-2.5">
        <div class="card">
            <img src="/static/medusa2.png">
        </div>
      </div>
    </div>
  </div>
{% endblock %}