{% extends "base.html" %}

{% block content %}
   <style>
        img {
    float: left;
    width:  200px;
    height: 400px;
    object-fit: cover;
}
   </style>
     <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>პეგასი</h1>
          <p>პეგასი—ფრთოსანი ცხენი ძველბერძნულ მითოლოგიაში. გავრცელებული ვერსიით, მედუზა გორგონას სისხლიგან წარმოიშვა. მეორე ვერსიის თანახმად, იგი პოსეიდონისა და მედუზა ვაჟიშვილია. ხშირად გვხვდება სხვადასხვა ლეგენდებში, მაგალითად, ერთ-ერთი მითის თანახმად ბელეროფონი პეგასზე ამხედრდა და სწორედ ასე შეძლო მითური ქიმერას დამარცხება. გავრცელებული ლეგენდის მიხედვით ყველგან, სადაც ის ფეხს დაადგამდა წყარო ამოდიოდა, რომელიც პოეტებს შთააგონებდა.</p>
      </div>
      <div class="col-md-2.5">
        <div class="card">
            <img src="/static/pegasus2.jpg">
        </div>
      </div>
    </div>
  </div>
{% endblock %}