{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="container-fluid bg-white mt-5 border-top border-bottom shadow">
        <div class="container">
            <img src="/static/{{ product.img }}" width="800px">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">ავტორი</th>
                    <td> {{ product.name }}</td>
                </tr>
                <tr>
                    <th scope="row">კითხვა</th>
                    <td>{{ product.question }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
