{% extends "base.html" %}

{% block content %}
   <style>
        img {
    float: left;
    width:  200px;
    height: 400px;
    object-fit: cover;
}
   </style>
     <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>ზევსი</h1>
        <p>ზევსი—ძველბერძნულ მითოლოგიაში ცის, ელვისა და ქუხილის ღმერთი, რომელიც მთელ მსოფლიოს განაგებდა. ოლიმპიელების მეთაური, ტიტანების, კრონოსისა და რეას მესამე შვილი (ჰომეროსის თანახმად უფროსი შვილი.) ჰადესის, ჰესტიას, დემეტრასა და პოსეიდონის ძმა. ზევსის მეუღლე არის ქალღმერთი ჰერა (იმის მიუხედავად, რომ ის მისი დაა), თუმცა ზევსი ჰერას ხშირად ღალატობს.

ზევსის ატრიბუტევი იყო ეგიდა (ფარი), სკიპტრა და ხანდახან არწივი. ითვლებოდა, რომ ზევსი ცხოვრობდა მთა ოლიმპოზე. ამის გარდა, იგი ავრცელებს სიკეთესა და ბოროტებას, ხანდახან იგი ასოცირდება ბედთან, ხოლო ხანდახან თავადაც გამოდის როგორც მოირას - ბედის - ქვეშევრდომი. მას შეუძლია მომავლის ნახვა. იგი უთხრობს ადამიანებს მათ ბედს სიზმრების, ქუხილისა და ელვების საშუალებით. სახელმწიფო წყობა ზევსის შექმნილია, მან აჩუქა ადამიანებს კანონები, დააწესა მეფეთა მეფობა, აკონტროლებს ტრადიციების და ადათ-წესების შესრულებას, აგრეთვე იცავს ოჯახსა და სახლს.</p>
          <h4>დაბადება</h4>
          <p>ის ეკუთვნის მესამე თაობის ღმერთებს რომლებმაც დაამხეს მეორე თაობა - ტიტანები. ლეგენდის მიხედვით, ზევსის მამა კრონოსი თავის შვილებს ჭამდა, რადგან ურანიამ მას უწინასწარმეტყველა, რომ იგი მოკვდებოდა თავისი შვილის ხელით. ამიტომ დედამისმა რეამ იგი გადამალა. როდესაც იგი გაიზარდა, მან მოკლა მამამისი და აასრულა ურანიას წინასწარმეტყველება.</p>
      </div>
      <div class="col-md-2.5">
        <div class="card">
            <img src="/static/zeus2.jpg">
        </div>
      </div>
    </div>
  </div>
{% endblock %}